@{
    Layout = "~/Views/Shared/_FederationLayout.cshtml";
}
<form>
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="federationName" class="form-label">Group Name</label>
            <input type="text" class="form-control" id="federationName" placeholder="Enter Federation Name">
        </div>
        <div class="col-md-6">
            <label for="registrationDate" class="form-label">Registration Date</label>
            <input type="date" class="form-control" id="registrationDate">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <label for="registrationNumber" class="form-label">Registration Number</label>
            <input type="text" class="form-control" id="registrationNumber" placeholder="Enter Registration Number">
        </div>
        <div class="col-md-6">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Enter Address">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <label for="pinCode" class="form-label">Pin Code</label>
            <input type="text" class="form-control" id="pinCode" placeholder="Enter Pin Code">
        </div>
        <div class="col-md-4">
            <label for="city" class="form-label">City</label>
            <select class="form-select" id="city">
                <option selected disabled>Select City</option>
                <option>Hydrabad</option>
                <option>City Warangal</option>

            </select>
        </div>
        <div class="col-md-4">
            <label for="district" class="form-label">District</label>
            <select class="form-select" id="district">
                <option selected disabled>Select District</option>
                <option>District karimnagar</option>
                <option>District siricilla</option>

            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-success mt-3">Submit</button>
</form>