<header>
     

    <div class="container-fluid px-5 py-3 mr-6 d-flex justify-content-between align-items-left">
       
        <h4>ViewFederation </h4>
        <a class="btn btn-primary " href="@Url.Action("EditFederationView","Federation")">Edit Federation</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>



</header>
<div class="container">

    <div class="container mt-4">
        


        <div class="row mb-3">
            <div class="col-md-6">
                <label for="federationName" class="form-label"> Federation Name :</label>
                <label for="federationName" class="form-label"><strong>Sri Padmavathi </strong></label>
            </div>
            <div class="col-md-6">
                <label for="registrationDate" class="form-label">Registration Date :</label>
                <label for="federationName" class="form-label"><strong>12-2-2024</strong></label>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="registrationNumber" class="form-label">Registration Number :</label>
                <label for="federationName" class="form-label">
                    <strong>#2556764</strong>
                </label>
            </div>
            <div class="col-md-6">
                <label for="address" class="form-label">ContactNumber :</label>
                <label for="address" class="form-label"><strong>9455***</strong> </label>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="address" class="form-label">Email :</label>
                <label for="address" class="form-label"><strong>abc@gmail.com</strong> </label>

            </div>
            <div class="col-md-6">
                <label for="registrationNumber" class="form-label">Website :</label>
                <label for="federationName" class="form-label">
                    <strong>www.abc.com</strong>
                </label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="address" class="form-label">AddressLine1 :</label>
                <label for="address" class="form-label"><strong>4-712-25</strong> </label>

            </div>
            <div class="col-md-6">
                <label for="registrationNumber" class="form-label">AddressLine2 :</label>
                <label for="federationName" class="form-label">
                    <strong>abcd</strong>
                </label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="address" class="form-label">Street :</label>
                <label for="address" class="form-label"><strong>SR Nagar</strong> </label>

            </div>
            <div class="col-md-6">
                <label for="address" class="form-label">LandMark :</label>
                <label for="address" class="form-label"><strong>Near abc</strong> </label>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="registrationNumber" class="form-label">City :</label>
                <label for="federationName" class="form-label">
                    <strong>Hydarabad</strong>
                </label>
            </div>
            <div class="col-md-6">
                <label for="address" class="form-label">State :</label>
                <label for="address" class="form-label"><strong>Telangana</strong> </label>


            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">

            <label for="registrationNumber" class="form-label">Pincode :</label>
            <label for="federationName" class="form-label">
                <strong>518000</strong>
            </label>
        </div>

    </div>



</div>


<div class="container mt-5">
    <h4 class="mb-3">Bank Details</h4>

    <!-- Table showing added bank records (initially empty or prefilled with sample row) -->
    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th>Bank Name</th>
                <th>IFSC Code</th>
                <th>Name</th>
                <th>Account number</th>
                <th>Bank Address</th>
                @* <th>Action </th> *@
            </tr>
        </thead>
        <tbody id="bankDetailsTableBody">
            <tr>
                <td>State Bank of India</td>
                <td>SBIN0001234</td>
                <td>Name</td>
                <td>Account Number</td>
                <td>Main Road, Hyderabad</td>


                @*   <td>
                        <button class="btn btn-warning" onclick="editField('bankName')">Edit</button>
                        <button class="btn btn-danger" onclick="deleteField('bankName')">Delete</button>
                    </td> *@

            </tr>
            <!-- New rows will be inserted here -->
        </tbody>
    </table>

    <!-- Button to reveal the form -->
    @*   <div class="d-flex gap-3 mb-3">
            <button type="button" class="btn btn-outline-primary" onclick="toggleBankForm()">Add Bank Details</button>
            <button type="button" class="btn btn-success" onclick="addBankDetails()">Save</button>
        </div> *@
</div>
            …
