@{
    Layout = "~/Views/Shared/_FederationLayout.cshtml";
}

<div class="col-md-4 mb-3">
    <label for="bankName" class="form-label">Bank Name</label>
    <div class="input-group">
        <input type="text" class="form-control" id="bankName" placeholder="Enter Bank Name">
        @*        <button class="btn btn-warning" onclick="editField('bankName')">Edit</button>
                        <button class="btn btn-danger" onclick="deleteField('bankName')">Delete</button *@>
    </div>
</div>

<div class="col-md-4 mb-3">
    <label for="ifscCode" class="form-label">IFSC Code</label>
    <div class="input-group">
        <input type="text" class="form-control" id="ifscCode" placeholder="Enter IFSC Code">
        <button class="btn btn-warning" onclick="editField('ifscCode')">Edit</button>
        <button class="btn btn-danger" onclick="deleteField('ifscCode')">Delete</button>
    </div>
</div>

<div class="col-md-4 mb-3">
    <label for="name" class="form-label">Name</label>
    <div class="input-group">
        <input type="text" class="form-control" id="name" placeholder="Enter Name">
        <button class="btn btn-warning" onclick="editField('name')">Edit</button>
        <button class="btn btn-danger" onclick="deleteField('name')">Delete</button>
    </div>
</div>

<div class="col-md-4 mb-3">
    <label for="accountNumber" class="form-label">Account Number</label>
    <div class="input-group">
        <input type="text" class="form-control" id="accountNumber" placeholder="Enter Account Number">
        <button class="btn btn-warning" onclick="editField('accountNumber')">Edit</button>
        <button class="btn btn-danger" onclick="deleteField('accountNumber')">Delete</button>
    </div>
</div>

<div class="col-md-4 mb-3">
    <label for="bankAddress" class="form-label">Bank Address</label>
    <div class="input-group">
        <input type="text" class="form-control" id="bankAddress" placeholder="Enter Bank Address">
        <button class="btn btn-warning" onclick="editField('bankAddress')">Edit</button>
        <button class="btn btn-danger" onclick="deleteField('bankAddress')">Delete</button>
    </div>
</div>

<script>
    function editField(id) {
        const input = document.getElementById(id);
        input.removeAttribute('readonly');
        input.focus();
    }

    function deleteField(id) {
        const input = document.getElementById(id);
        input.value = '';
    }
</script>

<button type="button" class="btn btn-success" onclick="addBankDetails()">Save</button>



